:root {
    --primary: #5472d2;
    --light: #F0FBFC;
    --dark: #414183;
    --bg-color: #fffbf6;
    --bg-color-warning: #ff9900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}


#loader {
  margin-top: 10px;
  color: #555;
  font-weight: bold;
}









/* call section  */

.admission-cta-section {
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
}

.cta-box {
  background-color: white;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}

.btn-primary:hover {
  background-color: #5c64d1;
}

#admission-cta-section i {
    color: var(--primary);
}







